// blues
// $lightblue: #149bd1;
$lightblue: #1295f3;
$lightgrey: #d3d3d3;
$blue-25: rgba(0, 137, 194, 0.25);
$darkblue: #17262c;
$darknavyblue: #23363d;
$darkishblue: #0e3342;
$navy-25: rgba(1, 64, 109, 0.25);
$navy-50: rgba(1, 64, 109, 0.5);
$navy-75: rgba(1, 64, 109, 0.75);
$blue: #428fcc;
$lightertrueblue: #044d81;
$trueblue: #01406d;

//new template

//orange
$orange: #ff7f50;

//reds
$darkred: #a94442;
$lightpink: #f2dede;
$pink: #ebccd1;

//yellows
$gold: #8a6d3b;
$lightyellow: #fcf8e3;
$paleyellow: #faebcc;

// misc.
$darkbrown: #3a4141;
$transparent: rgba(0, 0, 0, 0);
$white: #f8f9fa;
